# Proyecto integrador para el Módulo de analista de Datos - ISPC
### Grupo: *DataBring*
#### N° Grupo: *5*
#### Integrantes:
- Bendezu, Ana Valentina
- Blasiche, Andrés
- Cabrera,Marcos Rodrigo
- Palomeque, Dalila Macarena
- Palomeque, Jonatan Manuel
- Tejeda, Romina Soledad

#### Módulo: Analista de datos (Estádistica y Exploración de datos, Ciencia de Datos y Procesamiento de Datos)
#### Carrera: Tecnicatura Superior en Ciencia de datos e IA
#### Institución: Instituto Superior Politécnico Córdoba (ISPC)
#### Año: 2024

## Descripción:

#### Importar Pandas:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Cargar DataSet y crear el Dataframe:

In [2]:
dataSet = pd.read_csv('Datos/ds_ventas.csv')

dataframe = pd.DataFrame(dataSet)

#### Imprimir los primeros  10 registros del dataframe:

In [ ]:
print(dataframe.head(10))

#### Descripcion del DataSet:

Cantidad de registros y columnas:

In [ ]:
cant_filas, cant_columnas = dataframe.shape

In [ ]:
print(f"Cantidad de registros: {cant_filas}. Cantidad de columnas: {cant_columnas}")

Tipos de Datos:

In [ ]:
tipos_datos = dataframe.dtypes
print(tipos_datos)

##### Cambiar columnas NUMERICAS (ventas, cantidad, utilidad_bruta y costos y utilidad_bruta_p ) a tipo flotante:
- Un registro de esta columna, originalmente tiene la siguiente sintaxis: "$155.040,02" y necesito que queden de la siguiente forma: "155040.02" , para poder obtener las medidas de tendencias centrales (media, mediana).
  
- Para hacerlo, primero debo eliminar los signos "$", las "," y finalmente reemplazar los "." por "," Ya que sino, no puedo cambiar el tipo de dato.

Reemplazar los signos "$" de las columnas: ventas, , 'utilidad_bruta', 'costos'

In [3]:
dataframe['ventas'] = dataframe['ventas'].str.replace('$', '')
dataframe['utilidad_bruta'] = dataframe['utilidad_bruta'].str.replace('$', '')
dataframe['costos'] = dataframe['costos'].str.replace('$', '')

Reemplazar los signos "." de las columnas:ventas, , 'utilidad_bruta', 'costos' y 'cantidad'

In [4]:
dataframe['ventas'] = dataframe['ventas'].str.replace('.', '')
dataframe['utilidad_bruta'] = dataframe['utilidad_bruta'].str.replace('.', '')
dataframe['costos'] = dataframe['costos'].str.replace('.', '')
dataframe['cantidad'] = dataframe['cantidad'].str.replace('.', '')

Reemplazar los signos "," por "." de las columnas:ventas, , 'utilidad_bruta', 'costos' y 'cantidad'

In [5]:
dataframe['ventas'] = dataframe['ventas'].str.replace(',', '.')
dataframe['utilidad_bruta'] = dataframe['utilidad_bruta'].str.replace(',', '.')
dataframe['costos'] = dataframe['costos'].str.replace(',', '.')
dataframe['cantidad'] = dataframe['cantidad'].str.replace(',', '.')

Reemplazar los signos "%" por "" y "." por "," de la columna "utilidad_bruta_p"

In [6]:
dataframe['utilidad_bruta_p'] = dataframe['utilidad_bruta_p'].str.replace('%','')
dataframe['utilidad_bruta_p'] = dataframe['utilidad_bruta_p'].str.replace(',','.')

Reemplazar '.00'  y '.0' por '' en la columna 'cantidad' para poder pasarla a int

In [7]:
dataframe['cantidad'] = dataframe['cantidad'].str.replace('.00', '')
dataframe['cantidad'] = dataframe['cantidad'].str.replace('.0', '')

Ahora si, puedo convertir cambiar el tipo de dato:

In [8]:
dataframe[['ventas', 'utilidad_bruta', 'costos', 'utilidad_bruta_p']] = dataframe[['ventas', 'utilidad_bruta', 'costos', 'utilidad_bruta_p']].astype(float)
dataframe['cantidad'] = dataframe['cantidad'].astype(int)

##### Cambiar columna 'cantidad' a tipo int64:

In [9]:
tipos_datos = dataframe.dtypes
print(tipos_datos)

pais                 object
metodo_orden         object
tipo_comercio        object
linea                object
tipo_producto        object
producto             object
año                   int64
cuatrimestre         object
ventas              float64
cantidad              int64
utilidad_bruta_p    float64
utilidad_bruta      float64
costos              float64
dtype: object

#### Eliminar filas con datos vacios:

In [10]:
nuevo_df = dataframe.dropna()

In [11]:
ncant_filas, ncant_columnas = nuevo_df.shape

In [ ]:
print(f"Cantidad de registros: {ncant_filas}. Cantidad de columnas: {ncant_columnas}")

#### Análisis de columnas:

1- Columnas Numericas:

Media:

In [ ]:
# media de Ventas:
media_ventas = nuevo_df['ventas'].mean()

# media de Cantidad de productos:
media_cant_productos = nuevo_df['cantidad'].mean()

# media de Utilidad Bruta:
media_utilidad_bruta = nuevo_df['utilidad_bruta'].mean()

# media de costos:
media_costos =  nuevo_df['costos'].mean()


print(f"La media de ventas es: ${media_ventas}, La media de la cantidad de productos es: {media_cant_productos}, La media de utilidades brutas es: ${media_utilidad_bruta}, La media de costos es: ${media_costos}")

Mediana:

In [ ]:
# mediana de Ventas:
mediana_ventas = nuevo_df['ventas'].median()

# mediana de Cantidad de productos:
mediana_cant_productos = nuevo_df['cantidad'].median()

# mediana de Utilidad Bruta:
mediana_utilidad_bruta = nuevo_df['utilidad_bruta'].median()

# mediana de costos:
mediana_costos =  nuevo_df['costos'].median()


print(f"La mediana de ventas es: ${mediana_ventas}, La mediana de la cantidad de productos es: {mediana_cant_productos}, La mediana de utilidades brutas es: ${mediana_utilidad_bruta}, La mediana de costos es: ${mediana_costos}")

Desviacion Estandar:

In [ ]:
# Desviacion estándar en ventas:
desviacion_ventas = nuevo_df['ventas'].std()

#Desviación estándar de Cantidad de Productos:
desviacion_cant_productos = nuevo_df['cantidad'].std()

#Desviación estándar de utilidad bruta:
desviacion_utilidad_bruta = nuevo_df['utilidad_bruta'].std()

#Desviacion estándar de costos:
desviacion_costos = nuevo_df['costos'].std()

print("""
La desviación stándar de ventas es: ${}\n
La Desviación estándar de cantidad de productos es: {}\n
La desviación estándar de utilidad bruta es: {}\n
La desviacion estandar de costos es: {}""".format(desviacion_ventas,desviacion_cant_productos,desviacion_utilidad_bruta,desviacion_costos))

#### Se ordena el dataset por nombre de pais, fecha y cuatrimestre

In [12]:
df_sort = nuevo_df.sort_values(by=['pais', 'año', 'cuatrimestre'])

#### Datos para gráfico de barras de utilidad bruta anual de cada país

In [ ]:
df_2019 = df_sort[df_sort["año"] == 2019]
df_2020 = df_sort[df_sort["año"] == 2020]
df_2021 = df_sort[df_sort["año"] == 2021]

util_2019 = df_2019.groupby(["pais", "año"])["utilidad_bruta"].sum()
util_2020 = df_2020.groupby(["pais", "año"])["utilidad_bruta"].sum()
util_2021 = df_2021.groupby(["pais", "año"])["utilidad_bruta"].sum()
print(f'Utilidades brutas por pais en 2019\n {util_2019}\n\n',
    f'Utilidades brutas por pais en 2020\n {util_2020}\n\n',
    f'Utilidades brutas por pais en 2019\n {util_2019}')

In [ ]:
fig, axs = plt.subplots(1, 3, figsize=(18, 6))

axs[0].bar(df_2019['pais'], df_2019['utilidad_bruta'])
axs[0].set_title('Utilidades Brutas por País')
axs[0].set_xlabel('País')
axs[0].set_ylabel('Utilidad Bruta')
axs[0].tick_params(axis='x', rotation=90)
axs[0].grid(True)

axs[1].bar(df_2020['pais'], df_2020['utilidad_bruta'])
axs[1].set_title('Utilidades Brutas por País')
axs[1].set_xlabel('País')
axs[1].set_ylabel('Utilidad Bruta')
axs[1].tick_params(axis='x', rotation=90)
axs[1].grid(True)

axs[2].bar(df_2021['pais'], df_2021['utilidad_bruta'])
axs[2].set_title('Utilidades Brutas por País')
axs[2].set_xlabel('País')
axs[2].set_ylabel('Utilidad Bruta')
axs[2].tick_params(axis='x', rotation=90)
axs[2].grid(True)

#### Grafico de barras teniendo en cuenta las ventas por variable categorica 'Pais'

In [ ]:
plt.figure(figsize = (20,12))
plt.bar(Ventas_por_Pais['pais'], Ventas_por_Pais['cantidad'], color = 'orange')

plt.xlabel('País')
plt.ylabel('Cantidad Vendida')
plt.title('Cantidad vendida por País')
plt.xticks(rotation = 45, ha = 'right') # aca rotamos las etiquetas del eje x
plt.tight_layout() # esto ajusta el grafico para q no se interpongan los elementos
plt.show()

#### Grafico de dispersión de utilidades por país

In [ ]:
plt.figure(figsize=(10, 6))
plt.scatter(df_sort['pais'], df_sort['utilidad_bruta'], marker = "^", c = "green")
plt.title('Dispersión de Utilidades Brutas por País')
plt.xlabel('País')
plt.ylabel('Utilidad Bruta')
plt.xticks(rotation=90)  # Rotar las etiquetas de los países para mejor legibilidad
plt.grid(True)
plt.show()

#### Gráfico  por país

In [ ]:
plt.figure(figsize=(12, 8))
df_2019.boxplot(column='utilidad_bruta', by='pais', grid=True, rot=90, vert=True, patch_artist=True)
plt.title('Boxplot de Utilidades Brutas por País')
plt.suptitle('')
plt.xlabel('País')
plt.ylabel('Utilidad Bruta')
plt.show()

In [13]:
df_sort_TC = df_sort.sort_values(by=['tipo_comercio'])

In [ ]:
plt.figure(figsize=(10, 6))
plt.pie(df_sort_TC['utilidad_bruta'], labels=df_sort_TC['tipo_comercio'], autopct='%1.1f%%', startangle=140)
plt.title('Distribución de Utilidades Brutas por Tipo de Comercio')
plt.axis('equal')  # Igualar el aspecto del eje para que el gráfico de torta sea circular
plt.show()

In [ ]:
df_sort.value_counts("pais")

# Export

In [ ]:
df_sort.to_csv("Datos/ord_pais.csv")

### Insertamos errores para poder cumplir con la consigna
#### Trabajo el dataset con errores y proponemos soluciones

In [ ]:
ddf = pd.read_csv("Datos/dirty_ds_ventas.csv")

#### Como el data set es muy extenso primero vamos a filtrar los valores Nan por cada fila:

In [ ]:
filas_con_nan = ddf[ddf.isna().any(axis = 1)]
filas_con_nan

#### Si queremos ver todas las filas en jupyter notebook debemos configurar pandas:

In [ ]:
#pd.set_option('display.max_rows',None)

#### En el contexto de nuestros datos y la cantidad que tenemos, decidimos eliminar los registros que contienen datos 'Nan' ya que la ausencia de estos hace que la trazabilidad de cualquier registro sea muy dificil y al momento de realizar medidas descriptivas podrían distorcionar los datos de manera grosera. ademas de eso 65/12000 registros nos da 0,0054. es decir ni 1% de los datos afectados

In [ ]:
df1 = df.dropna()
df1

In [ ]:
filas_con_nan = df1[df1.isna().any(axis = 1)]
filas_con_nan

#### También observamos que la columna [serie] año esta como tipo de dato flotante y deberia ser entero, por lo tanto lo pasamos a Nro entero:

In [ ]:
df1.loc[:,'año'] = df1['año'].astype(int)   # todas las filas, columna 'año' parsearlo a int
df1

#### Veamos si en nuestro Data Set hay duplicados:

In [ ]:
df.duplicated()

#### como vemos si hay filas duplicadas, vamos a mostrarlas:

In [ ]:
filas_duplicadas = df1[df.duplicated(keep = False)] # con el parametro keep = False mostramos las filas duplicadas manteniendolas
print(filas_duplicadas)

In [ ]:
filas_duplicadas = df1.duplicated().sum()
print(filas_duplicadas)

#### Hay 14 filas que se duplican, claro esta que estas aportan redundancia que no queremos. entonces las eliminamos.

In [ ]:
df1.drop_duplicates(inplace = True)
df1

#### Comprobamos nuevamente y vemos que las filas duplicadas se han eliminado:

In [ ]:
filas_duplicadas = df1.duplicated().sum()
filas_duplicadas

#### Se encontraron valores = $0

In [ ]:
ddf[ddf["utilidad_bruta"] <= '$0']

In [ ]:
ddf[ddf["costos"] <= '$0']

In [ ]:
ddf[ddf["ventas"] <= '$0']

#### Solución: Borrar registros

In [ ]:
ddf.drop(ddf[ddf["ventas"] <= '$0'].index, inplace=True)

#### Se encontraron valores negativos en el campo "cantidad"

In [ ]:
ddf[ddf["cantidad"] <= 0]

#### Solución: setearlos con su valor opuesto

In [ ]:
ddf[ddf["cantidad"] <= 0] = -ddf