# Proyecto integrador para el Módulo de analista de Datos - ISPC
### Grupo: *DataBring*
#### N° Grupo: *5*
#### Integrantes:
- Bendezu, Ana Valentina
- Blasiche, Andrés
- Cabrera,Marcos Rodrigo
- Palomeque, Dalila Macarena
- Palomeque, Jonatan Manuel
- Tejeda, Romina Soledad

#### Módulo: Analista de datos (Estádistica y Exploración de datos, Ciencia de Datos y Procesamiento de Datos)
#### Carrera: Tecnicatura Superior en Ciencia de datos e IA
#### Institución: Instituto Superior Politécnico Córdoba (ISPC)
#### Año: 2024

## Descripción:

#### Importar Pandas:

In [1]:
import pandas as pd

#### Cargar DataSet y crear el Dataframe:

In [2]:
dataSet = pd.read_csv('ds_ventas.csv')

dataframe = pd.DataFrame(dataSet)

#### Imprimir los primeros  10 registros del dataframe:

In [3]:
print(dataframe.head(10))

        pais   metodo_orden      tipo_comercio     linea tipo_producto  \
0  Argentina  Representante          Mayorista  Mascotas      Juguetes
1  Argentina           Mail      De proximidad  Mascotas      Juguetes
2  Argentina       Teléfono  Grandes Almacenes  Infantil       Calzado
3  Argentina        Website      Especializado    Hombre       Calzado
4  Argentina        Website      Especializado   Adultos    Vestimenta
5  Argentina        Website          Mayorista     Mujer        Lentes
6  Argentina       Teléfono      Especializado     Mujer    Vestimenta
7  Argentina  Representante       Hipermercado    Hombre        Lentes
8  Argentina  Representante  Grandes Almacenes  Mascotas      Juguetes
9  Argentina  Representante          Mayorista    Hombre       Calzado

                 producto   año cuatrimestre       ventas  cantidad  \
0        Anitibyx armatus  2019      C1 2019  $155.040,02  15.562,0
1      Sarcorhamphus papa  2019      C1 2019  $144.314,49   1.534,0
2     Oreamnos americanus  2019      C1 2019  $114.380,59   4.036,0
3      Zosterops pallidus  2019      C1 2019  $144.097,85     991,0
4          Dusicyon thous  2019      C1 2019  $110.570,62   4.679,0
5   Amphibolurus barbatus  2019      C1 2019  $155.013,07  12.260,0
6        Chordeiles minor  2019      C1 2019   $92.599,10   7.470,0
7  Eolophus roseicapillus  2019      C1 2019  $141.433,24  10.678,0
8   Tamandua tetradactyla  2019      C1 2019  $169.592,83  13.804,0
9      Zosterops pallidus  2019      C1 2019  $105.131,12   1.446,0

  utilidad_bruta_p utilidad_bruta       costos
0           41,19%     $63.864,63   $91.175,39
1           57,57%     $83.084,42   $61.230,07
2           57,42%     $65.680,44   $48.700,15
3           27,39%     $39.475,34  $104.622,51
4           68,42%     $75.654,42   $34.916,20
5           59,69%     $92.534,23   $62.478,84
6           39,60%     $36.673,25   $55.925,85
7           64,09%     $90.649,51   $50.783,73
8           70,20%    $119.061,15   $50.531,68
9           69,64%     $73.216,31   $31.914,81

#### Descripcion del DataSet:

Cantidad de registros y columnas:

In [4]:
cant_filas, cant_columnas = dataframe.shape

In [5]:
print(f"Cantidad de registros: {cant_filas}. Cantidad de columnas: {cant_columnas}")

Cantidad de registros: 12000. Cantidad de columnas: 13

Tipos de Datos:

In [6]:
tipos_datos = dataframe.dtypes
print(tipos_datos)

pais                object
metodo_orden        object
tipo_comercio       object
linea               object
tipo_producto       object
producto            object
año                  int64
cuatrimestre        object
ventas              object
cantidad            object
utilidad_bruta_p    object
utilidad_bruta      object
costos              object
dtype: object

##### Cambiar columnas NUMERICAS (ventas, cantidad, utilidad_bruta y costos y utilidad_bruta_p ) a tipo flotante:
- Un registro de esta columna, originalmente tiene la siguiente sintaxis: "$155.040,02" y necesito que queden de la siguiente forma: "155040.02" , para poder obtener las medidas de tendencias centrales (media, mediana).
  
- Para hacerlo, primero debo eliminar los signos "$", las "," y finalmente reemplazar los "." por "," Ya que sino, no puedo cambiar el tipo de dato.

Reemplazar los signos "$" de las columnas: ventas, , 'utilidad_bruta', 'costos'

In [7]:
dataframe['ventas'] = dataframe['ventas'].str.replace('$', '')
dataframe['utilidad_bruta'] = dataframe['utilidad_bruta'].str.replace('$', '')
dataframe['costos'] = dataframe['costos'].str.replace('$', '')

Reemplazar los signos "." de las columnas:ventas, , 'utilidad_bruta', 'costos' y 'cantidad'

In [8]:
dataframe['ventas'] = dataframe['ventas'].str.replace('.', '')
dataframe['utilidad_bruta'] = dataframe['utilidad_bruta'].str.replace('.', '')
dataframe['costos'] = dataframe['costos'].str.replace('.', '')
dataframe['cantidad'] = dataframe['cantidad'].str.replace('.', '')

Reemplazar los signos "," por "." de las columnas:ventas, , 'utilidad_bruta', 'costos' y 'cantidad'

In [9]:
dataframe['ventas'] = dataframe['ventas'].str.replace(',', '.')
dataframe['utilidad_bruta'] = dataframe['utilidad_bruta'].str.replace(',', '.')
dataframe['costos'] = dataframe['costos'].str.replace(',', '.')
dataframe['cantidad'] = dataframe['cantidad'].str.replace(',', '.')

Reemplazar los signos "%" por "" y "." por "," de la columna "utilidad_bruta_p"

In [10]:
dataframe['utilidad_bruta_p'] = dataframe['utilidad_bruta_p'].str.replace('%','')
dataframe['utilidad_bruta_p'] = dataframe['utilidad_bruta_p'].str.replace(',','.')

Reemplazar '.00'  y '.0' por '' en la columna 'cantidad' para poder pasarla a int

In [14]:
dataframe['cantidad'] = dataframe['cantidad'].str.replace('.00', '')
dataframe['cantidad'] = dataframe['cantidad'].str.replace('.0', '')

Ahora si, puedo convertir cambiar el tipo de dato:

In [15]:
dataframe[['ventas', 'utilidad_bruta', 'costos', 'utilidad_bruta_p']] = dataframe[['ventas', 'utilidad_bruta', 'costos', 'utilidad_bruta_p']].astype(float)
dataframe['cantidad'] = dataframe['cantidad'].astype(int)

##### Cambiar columna 'cantidad' a tipo int64:

In [16]:
tipos_datos = dataframe.dtypes
print(tipos_datos)

pais                 object
metodo_orden         object
tipo_comercio        object
linea                object
tipo_producto        object
producto             object
año                   int64
cuatrimestre         object
ventas              float64
cantidad              int32
utilidad_bruta_p    float64
utilidad_bruta      float64
costos              float64
dtype: object

#### Eliminar filas con datos vacios:

In [18]:
nuevo_df = dataframe.dropna()

In [19]:
ncant_filas, ncant_columnas = nuevo_df.shape

In [20]:
print(f"Cantidad de registros: {ncant_filas}. Cantidad de columnas: {ncant_columnas}")

Cantidad de registros: 12000. Cantidad de columnas: 13

#### Análisis de columnas:

1- Columnas Numericas:

Media:

In [24]:
# media de Ventas:
media_ventas = nuevo_df['ventas'].mean()

# media de Cantidad de productos:
media_cant_productos = nuevo_df['cantidad'].mean()

# media de Utilidad Bruta:
media_utilidad_bruta = nuevo_df['utilidad_bruta'].mean()

# media de costos:
media_costos =  nuevo_df['costos'].mean()


print(f"La media de ventas es: ${media_ventas}, La media de la cantidad de productos es: {media_cant_productos}, La media de utilidades brutas es: ${media_utilidad_bruta}, La media de costos es: ${media_costos}")

La media de ventas es: $138002.3483308333, La media de la cantidad de productos es: 9003.64475, La media de utilidades brutas es: $68869.50151583334, La media de costos es: $69132.846815

Mediana:

In [25]:
# mediana de Ventas:
mediana_ventas = nuevo_df['ventas'].median()

# mediana de Cantidad de productos:
mediana_cant_productos = nuevo_df['cantidad'].median()

# mediana de Utilidad Bruta:
mediana_utilidad_bruta = nuevo_df['utilidad_bruta'].median()

# mediana de costos:
mediana_costos =  nuevo_df['costos'].median()


print(f"La mediana de ventas es: ${mediana_ventas}, La mediana de la cantidad de productos es: {mediana_cant_productos}, La mediana de utilidades brutas es: ${mediana_utilidad_bruta}, La mediana de costos es: ${mediana_costos}")

La mediana de ventas es: $137773.085, La mediana de la cantidad de productos es: 8992.5, La mediana de utilidades brutas es: $66373.345, La mediana de costos es: $66495.01999999999

Desviacion Estandar:

2- Columnas con Variables Categoricas: